@import '../utils/variables';

.cart {

  background: lighten($color-text, 52.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .menu__image {
    display: none;
  }

  .menu__delete {
    transform: rotate(45deg) scale(2.5);
  }
}