@import '../utils/variables';

.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  background: $color-primary;
  z-index: 1;
  height: 4rem;
}

.nav {
  flex: 1;
}

.nav__list {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.125rem;
}

.nav__link {
  transition: all .2s linear;
  &:hover {
    letter-spacing: 2px;
  }
}