@import '../utils/variables';

.menu {
  display: flex;
  flex-direction: column;
}

.menu__image {
  height: 20vh;
  margin-bottom: 1rem;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.menu__description {
  margin: .25rem 0 .1rem 0;
}

.menu__price {
  font-style: italic;
  font-size: .8125rem;
  color: lighten($color-text, 25);
}

.menu__order {
  margin: .5rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: .8125rem;
  letter-spacing: -.5px;
}

.menu__input {
  border: none;
  width: auto;
}

.menu__submit {
  align-self: center;
}