@import '../utils/variables';

.shopDetails {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media all and (min-width: 992px) {
    align-items: center
  }

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 1rem;  
  max-width: 800px;
}

.description {
  text-align: center;
  margin-top: .5rem;
}

.course {
  margin: 1rem 0;
  text-align: justify;

  &__name {
    font-weight: bold;
    margin-bottom: .1rem;
  }
  
  &__wine {
    font-style: italic;
    font-size: .8125rem;
    color: lighten($color-text, 15);
  }
}

.image {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;

}