@import '../utils/variables';

.shop {
  background: $color-quaternary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.list {
  @media all and (min-width: 992px) {
    display: flex;
    height: calc(100% - 3rem);
    align-items: stretch;
    margin-top: 3rem;
  }
}

.menu {
  @media all and (min-width: 992px) {
    display: flex;
  }
}