@import '../utils/variables';

.shopDetails {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.description {
  text-align: center;
  margin-top: .5rem;
}

.course {
  margin: 1rem 0;
  text-align: justify;

  &__name {
    font-weight: bold;
    margin-bottom: .1rem;
  }
  
  &__wine {
    font-style: italic;
    font-size: .8125rem;
    color: lighten($color-text, 15);
  }

}

.background {
  position: fixed;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}