.btn {
  display: inline-block;
  &:hover {
    font-weight: bold;
  }
}

.btn--text {
  border: 1px solid $color-primary;
  background: rgba($color-secondary, .85);
  margin-top: 1rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
}

.btn--big {
  transform: scale(2.5);
  color: lighten($color-text, 25);
  transition: all .2s linear;

  &:hover {
    transform: scale(3.25);
    color: $color-primary;
  }
}