.homepage {
  background-image: url('../../assets/restaurant.jpg');
  background-size: cover;
  background-position-y: -7.5rem;
}

.description {
  position: absolute;
  width: 90vw;
  max-width: 35rem;
}