$color-primary: #24272d;
$color-secondary: #fff;
$color-tertiary: #b88b2e;
$color-text: rgb(105, 105, 105);

$font-primary: 'Open Sans', 'Verdana', 'Trebuchet MS', Arial, sans-serif;
$font-secondary: 'Lora', $font-primary;