$color-primary: #24272d;
$color-secondary: #fff;
$color-tertiary: #b88b2e;
$color-quaternary: #fdf8ee;
$color-text: rgb(82, 82, 82);

$font-primary: 'Open Sans', 'Verdana', 'Trebuchet MS', Arial, sans-serif;
$font-secondary: 'Lora', $font-primary;